#Seriously guys, stop commiting this to your git repo!
.gradle/*
gradle/*
eclipse/*
gradlew
gradlew.bat
build/*
out/
QuantumProcessing.iml
QuantumProcessing.ipr
QuantumProcessing.iws
quantumProcessing.properties
quantumProcessing.xml